.hero-slide {  .swiper-slide {
    user-select: none;
    // margin-top: 20em;
    transition: all 0.3s 0.1s;
    opacity: 0;
    filter: blur(4px);
    &.swiper-slide-active {
      transition: 0.3s 0.5s;
      opacity: 1;
      filter: blur(0px);
      margin-top: 0px;
      transform: scale(1.5) rotate(0deg);
      z-index: 2;
    }
    &.swiper-slide-prev {
      opacity: 1;
      margin-top: 0;
      transform: rotate(0deg) translateX(0em);
      z-index: 1;
    }

    &.swiper-slide-next {
      opacity: 0;
      z-index: 1;
      transform: rotate(0) translateX(15em) translateY(0em);
    }
  }
}
